html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Poppins-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: $text-main;
}
.no-scroll {
  overflow: hidden;
}

.page {
  position: relative;
  min-height: 100vh;
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.spinner {
  display: inline;
  position: absolute;
  top: 35vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  z-index: 1000;

  &-round {
    display: block;
    width: 100px;
    height: 100px;
    border: 15px solid $purple-nav-hover; 
    border-radius: 50%;
    border-top-color:  $purple-nav;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.7);
    animation: spinner-rotate 1.2s 0.3s infinite linear;
  }
 }

.float-x {
  display: inline-block;
  animation: float-x 4s infinite ease-in-out;
}
.float-y {
  animation: float-y 6s infinite ease-in-out;
}
 

@media (max-width: 900px) {
  .container {
    padding: 0 10px ;
  }
  .btn--mobile-menu {
    font-size: 24px!important;
    border: 2px solid $white;
  }
}


