html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  position: relative;
  overflow-x: hidden;

  font-family: "Poppins-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: $text-main;
}

@media (max-width: 900px) {
  .btn--mobile-menu {
    font-size: 24px!important;
    border: 2px solid $white;
  }
}