.page{
  max-width: 1440px;
  min-height: 100vh;
  padding: 20px;
  margin: 0 auto;

  user-select: none;
}

@media (max-width: 900px){
  .page{
    padding: 5px;
  }
}

@media (max-width: 900px) {
  .btn--mobile-menu {
    font-size: 24px!important;
    border: 2px solid $white;
  }
}