$linear-purple: linear-gradient(90deg, #FF62B7 0%, #9F53FF 100%);
$linear-purple-hover: linear-gradient(90deg, #fc70bb 0%, #a45ef8 100%);
$menu-open: linear-gradient(90deg, #fc70bb 0%, #a45ef8 100%);

$purple-nav: #2C0958;
$white: #FFFEFE;